body {
    font-family: Helvetica, serif;
}

#banner {
    width: 100%;
    display: block;
}

.notify-permission.warning {
    cursor: pointer;
}

.notify-permission {
    margin-bottom: 0;
}

.options {
    background: #CCCCCC;
}

a[href$="/matchpost"] {
    display:none
}