body {
    font-family: Helvetica, serif;
}

#banner {
    width: 100%;
    display: block;
}

.notify-permission {
    cursor: pointer;
    margin-bottom: 0;
}

.options {
    background: #CCCCCC;
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}