body {
    font-family: Helvetica, serif;
}

#banner {
    width: 100%;
    display: block;
}

.favorite_host > .panel-heading {
    background-color: #CCFFCC
}

.favorite_host .fa-reddit {
    font-weight: bold;
}

.notify-permission.alert-warning {
    cursor: pointer;
}

.unsynced {
    color: #ff5050;
}

.unpadded-page {
    margin-top: -15px;
}

.navbar {
    margin-bottom: 0;
}

.time-info {
    margin-bottom: 10px;
}

.options,
.navbar-default {
    background: #CCCCCC;
    border-color: #CCCCCC;
}

.refresh-button {
    padding-top: 15px;
}

.refresh-icon {
    display: block;
}

a[href$="/matchpost"] {
    display:none
}

[ui-sref] {
    cursor: pointer;
}

.timepicker-center {
    margin-right: auto;
    margin-left: auto;
}