<div class="container text-center generator-page">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opens: </h3><span ng-bind="simpleUtcOpens"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time game will open (in your selected timezone)</p>
                    <date-time-picker picked-date="opens" time-zone="settings.time_zone" min-date="current_time" meridian="settings.time_format == '12h'"></date-time-picker>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Starts: </h3><span ng-bind="simpleUtcStarts"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time game will start (in your selected timezone)</p>
                    <date-time-picker picked-date="starts" time-zone="settings.time_zone" min-date="current_time" meridian="settings.time_format == '12h'"></date-time-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Title
                </div>
                <div class="panel-body">
                    <span class="help-block">The title to show on the list</span>
                    <input class="form-control" type="text" ng-model="post_title"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Server Address
                </div>
                <div class="panel-body">
                    <span class="help-block">The server address/IP to connect to</span>
                    <input class="form-control" type="text" ng-model="address"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                Paste the text below and add it to your reddit post &nbsp; <a href="" clip-copy="generatedLink"><i class="fa fa-clipboard"></i>Copy to clipboard</a>
            </div>
            <div class="panel-body" ng-bind="generatedLink"></div>
        </div>
    </div>
</div>