<div class="list-page unpadded-page">
    <accordion close-others="false">
        <accordion-group ng-repeat="post in posts">
            <accordion-heading>
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <b ng-bind="post.opens == null ? 'Unparsed' : post.starts.tz(settings.time_zone).format(settings.time_format == '24h' ? 'MMM DD HH:mm' : 'MMM DD hh:mm a')"></b>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a target="_blank" ng-click="$event.stopPropagation()" ng-href="http://reddit.com/u/{{ post.author }}" ng-bind="post.author"></a>
                    </div>
                    <div class="col-xs-4">
                        <a target="_blank" ng-click="$event.stopPropagation()" ng-href="{{ post.permalink }}" ng-bind="post.title"></a>
                    </div>
                    <div class="col-xs-2 text-center">
                        <em ng-bind="post.opens != null ? 'opens ' + post.opens.fromNow() : '???'"></em>
                    </div>
                    <div class="col-xs-2 text-center">
                        <em ng-bind="post.starts != null ? 'starts ' + post.starts.fromNow() : '???'"></em>
                    </div>
                </div>
            </accordion-heading>
            <div class="container" btf-markdown="post.selftext"></div>
        </accordion-group>
    </accordion>
</div>