<div class="container text-center settings-page">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Timezone: </h3><span ng-bind="settings.time_zone"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Timezone for all times/dates on the website:</p>
                    <select class="form-control" ng-model="settings.time_zone" ng-options="o as o group by o.indexOf('/') == -1 ? 'Other' : o.substring(0, o.indexOf('/')) for o in settings.time_zones"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Time Format: </h3><span ng-bind="settings.time_format"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time format to for the website:</p>
                    <select class="form-control" ng-model="settings.time_format" ng-options="o as o for o in settings.time_formats"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Subreddits: </h3>
                </div>
                <div class="panel-body">
                    <p class="help-block">List of subreddits to pull matches from:</p>
                    <div class="row" ng-repeat="subreddit in settings.subreddits">
                        <button type="button" ng-click="removeSubreddit($index)" class="btn btn-default btn-lg col-xs-10 col-xs-offset-1"><i class="fa fa-reddit"></i> <span ng-bind="'/r/' + subreddit"></span></button>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                            <input class="form-control" type="text" placeholder="Subreddit name" ng-model="newSubreddit" keybind="addSubreddit(newSubreddit)" key="13">
                        </div>
                        <div class="col-xs-2">
                            <button ng-click="addSubreddit(newSubreddit)" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Notifications: </h3>
                </div>
                <div class="panel-body">
                    <p class="help-block">When to send notifications before a game starts:</p>
                    <span ng-repeat="notification_time in settings.notification_times">
                        <slider ng-model="notification_time.value" floor="1" ceiling="7200" step="1" stretch="1" translate-fn="translateSeconds"></slider>
                    </span>
                    <button class="btn btn-primary" type="button" ng-click="newNotification()">New notification</button>
                </div>
            </div>
        </div>
    </div>
</div>