=crayon-border($color, $defaultColor, $width: $default-crayon-border-width)
    border-image: url($path-crayon-base + '-' + $color + $path-crayon-ext) $width $width $width $width repeat

    //fallback for <IE-11
    border-style: solid
    border-color: $defaultColor

=crayon-border-green($width: $default-crayon-border-width)
    +crayon-border('green', #119933, $width)

//TODO create a real purple border
=crayon-border-purple($width: $default-crayon-border-width)
    +crayon-border('purple', #991177, $width)
