.generator-template
    width: 100%
    min-height: 150px

.generator-page
    textarea
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace
