@font-face
    font-family: 'Pen'
    src: url($path-pen-font)

body
    text-align: center
    background-image: url($path-lined-paper)
    font-family: 'Pen', cursive
    font-weight: 500

@media (min-width: $screen-sm)
    .text-right-sm
        text-align: right
    .text-left-sm
        text-align: left
    .text-center-sm
        text-align: center
