//icon font new paths
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
$fa-font-path: "../bower_components/font-awesome/fonts"

//resources
$path-lined-paper: '../images/linedpaper.png'
$path-pen-font: '../fonts/pen.ttf'
$path-crayon-base: '../images/outline'
$path-crayon-ext: '.png'
$path-scribble-paper: '../images/paper.png'

$default-crayon-border-width: 5
