<div ng-if="enabler.show()" ng-switch="enabler.HtmlNotifications.permission()" class="show-pointer">
    <div ng-switch-when="default">
        <uib-alert
            class="notify-permission"
            type="warning"
            ng-click="enabler.requestPermission()"
        >
            <i class="has-tip fa fa-info-circle" uib-tooltip="{{ 'notifications.enable.info' | translate }}"></i>
            <span translate="notifications.enable.message"></span>
            <span
                class="alert-link show-pointer"
                ng-show="enabler.showHideButton"
                ng-click="$event.stopPropogation(); enabler.hide = true;"
                translate="notifications.dismiss"
            ></span>
        </uib-alert>
    </div>
    <div ng-switch-when="denied">
        <uib-alert class="notify-permission" type="danger">
            <i class="has-tip fa fa-info-circle" uib-tooltip="{{ 'notifications.denied.info' | translate }}"></i>
            <span translate="notifications.denied.message"></span>
            <span
                class="alert-link show-pointer"
                ng-show="enabler.showHideButton"
                ng-click="$event.stopPropogation(); enabler.hide = true;"
                translate="notifications.dismiss"
            ></span>
        </uib-alert>
    </div>
    <div ng-switch-when="unsupported">
        <uib-alert class="notify-permission" type="danger">
            <span translate="notifications.unsupported.message"></span>
            <span
                class="alert-link show-pointer"
                ng-show="enabler.showHideButton"
                ng-click="$event.stopPropogation(); enabler.hide = true;"
                translate="notifications.dismiss"
            ></span>
        </uib-alert>
    </div>
</div>
