<!DOCTYPE html>
<html>
<head>
    <title>Match Calendar</title>
    <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="MatchCalendar" ng-controller="AppCtrl">
<a href="http://www.reddit.com/r/ultrahardcore"><img id="banner" src="images/banner.png"></a>
<div class="row full-width options text-center">
    <div class="medium-4 columns">
        <h3>Current Time:</h3>
        <em ng-bind="current_time.tz(time_zone).format(time_format == '24h' ? 'HH:mm:ss' : 'hh:mm:ss a')"></em>
    </div>
    <div class="medium-4 columns">
        <label>
            <b>Format</b>
            <select ng-model="time_format" ng-options="o as o for o in time_formats"></select>
        </label>
    </div>
    <div class="medium-4 columns">
        <label>
            <b>Timezone</b>
            <select ng-model="time_zone" ng-options="o as o group by o.indexOf('/') == -1 ? 'Other' : o.substring(0, o.indexOf('/')) for o in time_zones"></select>
        </label>
    </div>
</div>
<accordion close-others="false">
    <accordion-group ng-repeat="post in posts">
        <accordion-heading>
            <div class="row full-width">
                <div class="small-3 columns text-center">
                    <b ng-bind="post.time == null ? 'Unparsed' : post.time.tz(time_zone).format(time_format == '24h' ? 'MMM DD HH:mm' : 'MMM DD hh:mm a')"></b>
                </div>
                <div class="small-1 columns">
                    <a ng-href="http://reddit.com/u/{{ post.author }}" ng-bind="post.author"></a>
                </div>
                <div class="small-5 columns">
                    <a ng-href="{{ post.permalink }}" ng-bind="post.title"></a>
                </div>
                <div class="small-3 columns text-center">
                    <em ng-bind="post.time != null ? post.time.fromNow() : '???'"></em>
                </div>
            </div>
        </accordion-heading>
        {{ post.raw }}
    </accordion-group>
</accordion>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>