<div class="container-fluid">
    <div class="row clock-bar">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 clock-bar-center">
            <div class="clock-bar-time">
                <strong
                    ng-class="{unsynced: !clockbar.DateTime.synced}"
                    bindonce
                    bo-text="clockbar.DateTime.format('HEADER')"
                    uib-tooltip="{{ clockbar.timeTooltip() | translate:clockbar }}"
                    tooltip-append-to-body="true"
                    refresh-on="'clockTick'">
                </strong>
                <span class="time-info-icons">
                    <i
                        class="fa fa-warning unsynced"
                        ng-show="!clockbar.DateTime.synced"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{ 'clockbar.unsyncedIconTooltip' | translate }}"
                    ></i>
                    <i
                        class="fa fa-refresh show-pointer"
                        ng-class="{'fa-spin': clockbar.DateTime.syncing}"
                        ng-click="clockbar.DateTime.resync()"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{ 'clockbar.resyncTooltip' | translate }}"
                    ></i>
                </span>
            </div>
            <div class="clock-bar-timezone p-b-1" ng-class="clockbar.isUsingGuessedTimezone() ? 'text-muted' : 'text-danger'">
                <span
                    ui-sref="app.settings"
                    uib-tooltip="{{ 'clockbar.timezoneTooltip' | translate }}"
                    tooltip-append-to-body="true"
                >
                    <b ng-bind="clockbar.DateTime.timeZone"></b>
                </span>
                <i
                    class="fa fa-exclamation-circle"
                    ng-show="!clockbar.isUsingGuessedTimezone()"
                    uib-tooltip="{{ 'clockbar.wrongTimezone' | translate:clockbar.DateTime }}"
                    tooltip-append-to-body="true"
                    ng-click="clockbar.DateTime.timeZone = clockbar.DateTime.guessedTimeZone"
                ></i>
            </div>
        </div>
    </div>
</div>
