<div class="container-fluid">
    <div class="row clock-bar">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 clock-bar-center">
            <!--
            Removed due to english language only
            <a class="language-switcher" ui-sref="app.settings">
                <country-flag country-code="clockbar.Translations.chosen"></country-flag>
            </a>
            -->
            <div class="clock-bar-time">
                <strong
                    local-time
                    local-time-tick-refresh
                    local-time-format="HEADER"
                    uib-tooltip="{{ clockbar.timeTooltip() | translate:clockbar }}"
                    tooltip-append-to-body="true"
                    ng-class="{unsynced: !clockbar.DateTime.synced}"
                ></strong>
                <span class="time-info-icons">
                    <i
                        class="fa fa-warning unsynced"
                        ng-show="!clockbar.DateTime.synced"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{ 'clockbar.unsyncedIconTooltip' | translate }}"
                    ></i>
                    <i
                        class="fa fa-refresh show-pointer"
                        ng-class="{'fa-spin': clockbar.DateTime.syncing}"
                        ng-click="clockbar.DateTime.resync()"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{ 'clockbar.resyncTooltip' | translate }}"
                    ></i>
                </span>
            </div>
            <div class="clock-bar-timezone p-b-1 text-muted">
                <a
                    ui-sref="app.settings"
                    uib-tooltip="{{ 'clockbar.timezoneTooltip' | translate }}"
                    tooltip-append-to-body="true"
                    class="text-muted"
                >
                    <b ng-bind="clockbar.DateTime.timeZone"></b>
                </a>
                <i
                    class="fa fa-exclamation-circle"
                    ng-show="!clockbar.isUsingGuessedTimezone()"
                    uib-tooltip="{{ 'clockbar.wrongTimezone' | translate:clockbar.DateTime }}"
                    tooltip-append-to-body="true"
                    ng-click="clockbar.DateTime.timeZone = clockbar.DateTime.guessedTimeZone"
                ></i>
            </div>
        </div>
    </div>
</div>
