<div class="container text-center generator-page">
    <uib-alert type="danger">
        Make sure to read the submission rules for the subreddit you are posting to <b>BEFORE</b> using this tool.
        Rules for the main /r/uhcmatches subreddit can be found <a target="_blank" href="https://www.reddit.com/r/UHCHosts/wiki/guides/scheduling_matches">here.</a>
    </uib-alert>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Title
                </div>
                <div class="panel-body">
                    <span class="help-block">The title to show on the list</span>
                    <input class="form-control" type="text" ng-model="generator.postTitle"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opens: </h3><span ng-bind="generator.DateTime.format('REDDIT_POST', generator.opens.utc(), true)"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time game will open (in your selected timezone)</p>
                    <date-time-picker picked-date="generator.opens" time-zone="generator.DateTime.timeZone" min-date="generator.minTime" meridian="generator.DateTime.timeFormat == '12h'"></date-time-picker>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Region
                </div>
                <div class="panel-body">
                    <span class="help-block">The server region</span>
                    <select class="form-control" ng-model="generator.region" ng-options="o as k for (o,k) in generator.regions"></select>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Types</h3>
                </div>
                <div class="panel-body">
                    <p class="help-block">Chose the type of teams the game will be using</p>
                    <form class="form-horizontal">
                        <small class="help-block"><i class="fa fa-info"></i> <span ng-bind="generator.GameTypes[generator.gameType].description"></span></small>
                        <select class="form-control" ng-model="generator.gameType" ng-options="o as k.name for (o, k) in generator.GameTypes"></select>
                        <div class="form-group" ng-show="generator.requiresTeamSizes() === 'CUSTOM'">
                            <label for="generator-custom-style" class="help-block">Enter custom scenario title here:</label>
                            <div>
                                <input id="generator-custom-style" type="text" ng-model="generator.teamSize"/>
                            </div>
                        </div>
                        <div class="form-group" ng-show="generator.requiresTeamSizes() === true">
                            <label for="generator-team-size" class="help-block">Enter team size here:</label>
                            <div>
                                <input id="generator-team-size" type="number" ng-model="generator.teamSize"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Scenarios</h3></div>
                <div class="panel-body">
                    <div class="row" ng-repeat="scenario in generator.scenarios">
                        <button type="button" ng-click="generator.removeScenario($index)" class="btn btn-default btn-lg col-xs-10 col-xs-offset-1">
                            <i class="fa fa-cubes"></i> <span ng-bind="scenario"></span>
                        </button>
                    </div>
                    <hr ng-show="generator.scenarios.length" />
                    <form name="scenarios" class="form-group" novalidate ng-class="{ 'has-error': scenarios.$invalid, 'has-success': scenarios.$valid}">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Scenario"
                                ng-model="generator.tempSubreddit"
                                keybind="generator.addScenario(scenarios.$valid)"
                                key="13"
                                required
                                name="scenario"
                                not-in-array="generator.scenarios"
                            />
                            <span class="input-group-btn" ng-click="generator.addScenario(scenarios.$valid)">
                                <button class="btn" ng-disabled="scenarios.scenario.$invalid" ng-class="{ 'btn-danger': scenarios.$invalid, 'btn-success': scenarios.$valid}">Add</button>
                            </span>
                        </div>
                        <div ng-messages="scenarios.scenario.$error" role="alert">
                            <div ng-message="required" class="help-block">Please enter a scenario name</div>
                            <div ng-message="notInArray" class="help-block">This scenario is already in the list</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Extras</h3></div>
                <div class="panel-body">
                    <div class="row" ng-repeat="extra in generator.extras">
                        <button type="button" ng-click="generator.removeExtra($index)" class="btn btn-default btn-lg col-xs-10 col-xs-offset-1">
                            <i class="fa fa-cubes"></i> <span ng-bind="extra"></span>
                        </button>
                    </div>
                    <hr ng-show="generator.extras.length" />
                    <form name="extras" class="form-group" novalidate ng-class="{ 'has-error': extras.$invalid, 'has-success': extras.$valid}">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Extra"
                                ng-model="generator.tempExtra"
                                keybind="generator.addExtra(extras.$valid)"
                                key="13"
                                required
                                name="extra"
                                not-in-array="generator.extras"
                            />
                            <span class="input-group-btn" ng-click="generator.addExtra(extras.$valid)">
                                <button class="btn" ng-disabled="extras.extra.$invalid" ng-class="{ 'btn-danger': extras.$invalid, 'btn-success': extras.$valid}">Add</button>
                            </span>
                        </div>
                        <div ng-messages="extras.extra.$error" role="alert">
                            <div ng-message="required" class="help-block">Please enter an extra name</div>
                            <div ng-message="notInArray" class="help-block">This extras is already in the list</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Post Title Preview</h3></div>
                <div class="panel-body">
                    <code ng-bind="generator.generateTitle()"></code>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Selected Template</h3></div>
                <div class="panel-body form-group" ng-class="{'has-error': !generator.hasValidTemplate()}">
                    <select ng-required class="form-control" ng-model="generator.template" ng-options="o.name as o.name for o in generator.Templates.templates"></select>
                    <uib-alert ng-show="generator.template === 'default'" type="danger">
                        You cannot use the default template to post to Reddit. Use the Template Editor below to create your own/copy the default and use that one instead.
                    </uib-alert>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Selected Subreddit</h3></div>
                <div class="panel-body form-group" ng-class="{'has-error': !generator.hasValidSubreddit()}">
                    <select ng-required class="form-control" ng-model="generator.subreddit" ng-options="o for o in generator.Subreddits.subreddits"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info btn-lg col-md-6" ui-sref="app.editor">Template Editor</button>
        <button ng-disabled="!generator.hasValidTemplate() || !generator.hasValidSubreddit()" type="button" class="btn btn-success btn-lg col-md-6" ng-click="generator.sendToReddit()">Post to Reddit</button>
    </div>
</div>
