<div class="container text-xs-center generator-page">
    <uib-alert type="danger">
        <span
            translate="generator.notice"
            translate-value-rules="<a target='_blank' href='https://www.reddit.com/r/UHCHosts/wiki/guides/scheduling_matches'>here.</a>"
        ></span>
    </uib-alert>
    <div class="card card-primary-outline card-inverse">
        <h4 class="card-header card-primary" translate="generator.title.header"></h4>
        <div class="card-block">
            <input class="form-control" type="text" ng-model="generator.postTitle"/>
            <small class="text-muted" translate="generator.title.info"></small>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary">
                <div translate="generator.opens.header"></div>
                <div>
                    <small ng-bind="generator.DateTime.format('REDDIT_POST', generator.opens.utc(), true)"></small>
                </div>
            </h4>
            <div class="card-block">
                <small class="text-muted" translate="generator.opens.info"></small>
                <date-time-picker
                    picked-date="generator.opens"
                    time-zone="generator.DateTime.timeZone"
                    min-date="generator.minTime"
                    meridian="generator.DateTime.timeFormat == '12h'"
                ></date-time-picker>
            </div>
        </div>
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary" translate="generator.region.header"></h4>
            <div class="card-block">
                <select class="form-control" ng-model="generator.region" ng-options="o as k for (o,k) in generator.regions"></select>
            </div>
            <h4 class="card-header card-primary" translate="generator.teams.header"></h4>
            <div class="card-block">
                <select class="form-control" ng-model="generator.gameType" ng-options="o as k.name for (o, k) in generator.GameTypes"></select>
                <small class="text-muted">
                    <i class="fa fa-info"></i>
                    <span translate="{{'generator.teams.' + generator.gameType}}"></span>
                </small>
                <div ng-show="generator.requiresTeamSizes() === 'CUSTOM'">
                    <label for="generator-custom-style" class="help-block" translate="generator.teams.input.custom"></label>
                    <div>
                        <input class="form-control" id="generator-custom-style" type="text" ng-model="generator.teamSize"/>
                    </div>
                </div>
                <div ng-show="generator.requiresTeamSizes() === true">
                    <label for="generator-team-size" class="help-block" translate="generator.teams.input.size"></label>
                    <div>
                        <input class="form-control" id="generator-team-size" type="number" ng-model="generator.teamSize"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary" translate="generator.scenarios.header"></h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="generator.scenarios"
                    button-icon="cubes"
                    placeholder="{{ 'generator.scenarios.placeholder' | translate }}"
                >
                    <required-error><span translate="generator.scenarios.none"></span></required-error>
                    <in-array-error><span translate="generator.scenarios.contained"></span></in-array-error>
                </unique-items-editor>
            </div>
        </div>
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary" translate="generator.extras.header"></h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="generator.extras"
                    button-icon="cubes"
                    placeholder="{{ 'generator.extras.placeholder' | translate }}"
                >
                    <required-error><span translate="generator.extras.none"></span></required-error>
                    <in-array-error><span translate="generator.extras.contained"></span></in-array-error>
                </unique-items-editor>
            </div>
        </div>
    </div>
    <div class="card card-primary-outline card-inverse">
        <h4 class="card-header card-primary" translate="generator.preview.header"></h4>
        <div class="card-block">
            <code ng-bind="generator.generateTitle()"></code>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary" translate="generator.template.header"></h4>
            <div class="card-block form-group" ng-class="{'has-error': !generator.hasValidTemplate()}">
                <select
                    ng-required
                    class="form-control"
                    ng-model="generator.template"
                    ng-options="o.name as o.name for o in generator.Templates.templates"
                ></select>
                <uib-alert ng-show="generator.template === 'default'" type="danger">
                    <span translate="generator.template.default"></span>
                </uib-alert>
            </div>
        </div>
        <div class="card card-primary-outline card-inverse">
            <h4 class="card-header card-primary" translate="generator.subreddit.header"></h4>
            <div class="card-block form-group" ng-class="{'has-error': !generator.hasValidSubreddit()}">
                <select
                    ng-required
                    class="form-control"
                    ng-model="generator.subreddit"
                    ng-options="o for o in generator.Subreddits.subreddits"
                ></select>
            </div>
        </div>
    </div>
    <div class="row">
        <button
            type="button"
            class="btn btn-primary btn-lg col-md-6 col-xs-12"
            ui-sref="app.editor"
            translate="generator.templateEditor"
        ></button>
        <button
            ng-disabled="!generator.hasValidTemplate() || !generator.hasValidSubreddit()"
            type="button"
            class="btn btn-success btn-lg col-md-6 col-xs-12"
            ng-click="generator.sendToReddit()"
            translate="generator.postToReddit"
        ></button>
    </div>
</div>
