<div class="modal-header">
    Post Preview/Editor
</div>
<div class="modal-body">
    <accordion close-others="false">
        <accordion-group>
            <accordion-heading>
                Help - Template Variables
            </accordion-heading>
            <div class="text-left">
                <p ng-non-bindable>Variables are in the format {{ variableName }}</p>
                <ul>
                    <li>generator.address</li>
                    <li>generator.postTitle</li>
                    <li>generator.region</li>
                    <li>opensUTC()</li>
                    <li>startsUTC()</li>
                </ul>
            </div>
        </accordion-group>
    </accordion>
    <textarea msd-elastic class="generator-template" ng-model="templates.rawTemplate" ng-change="updateTemplate()"></textarea>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 well">
                <markdown class="md" content="templates.generated"></markdown>
            </div>
        </div>
    </div>
</div>
