<button type="button"
        class="btn btn-warning btn-lg btn-block"
        ng-click="logIn()"
        bindonce="user"
        bo-show="!user.isAuthenticated()"
        refresh-on="'auth.statusChanged'">
    Log In
</button>
<button type="button"
        class="btn btn-warning btn-lg btn-block"
        ng-click="logOut()"
        bindonce="user"
        bo-show="user.isAuthenticated()"
        refresh-on="'auth.statusChanged'">
    Logout <span bindonce="user" refresh-on="'auth.statusChanged'" bo-text="user.getUserInfo().name"></span>
</button>
