@keyframes flipInX
    from
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
        animation-timing-function: ease-in
        opacity: 0

    40%
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
        animation-timing-function: ease-in

    60%
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
        opacity: 1

    80%
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

    to
        transform: perspective(400px)

@keyframes flipOutX
    from
        transform: perspective(400px)

    30%
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
        opacity: 1

    to
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
        opacity: 0

.post-item
    &.ng-enter
        animation: flipInX 0.6s

    &.ng-leave
        animation: flipOutX 0.6s

.notifications
    color: #FF0000

.title-left
    @include media-breakpoint-up(lg)
        float: left
        text-align: left

.post-title
    @include media-breakpoint-up(lg)
        float: right
        text-align: right

    @include media-breakpoint-down(md)
        margin-bottom: 5px

.search-panel
    margin-bottom: 0
    border-left: none
    border-right: none

.show-filters-button
    border-top: none
    border-top-right-radius: 0
    border-top-left-radius: 0
    margin-bottom: 10px

.filter-type
    margin-bottom: 5px

.post-filters
    +watercolour-black()

    button
        margin-right: 5px

    .filter
        .btn
            margin-bottom: 5px

        .filter-title
            font-weight: bold

.refresh-button
    margin-top: 10px
    margin-bottom: 10px

.search-filter
    .input-group-addon
        border-right: 0
        @extend .card-outline-info

    input
        @extend .card-outline-info
        border-left: 0
        background-color: white

.search-filter-active
    .input-group-addon
        @extend .card-outline-success
        border-width: 2px
        color: $alert-danger-text

    input
        @extend .card-outline-success
        border-width: 2px
