<div class="list-page">
    <div class="panel panel-default search-panel">
        <div class="panel-heading post-list-filter">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input ng-model="postList.filters.search" class="form-control" type="search" placeholder="Search Filter">
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 refresh-button text-center">
                    <b class="refresh-icon" ng-click="postList.Posts.update()">
                        <i class="fa fa-refresh" ng-class="{'fa-spin': postList.Posts.updating}"></i> Refresh
                        <small class="center-block">
                            Last Updated: <small class="last-updated" ng-bind="postList.DateTime.format('HEADER', postList.moment.unix(postList.Posts.lastUpdated))"></small>
                        </small>
                    </b>
                </div>
                <div class="col-lg-2 col-xs-12 text-right">
                    <button type="button" class="btn btn-success btn-block btn-xs" ui-sref="app.listhelp">Help</button>
                    <button type="button" class="btn btn-info btn-block btn-xs" ng-click="postList.Changelog.showChangelog()">Changelog</button>
                </div>
            </div>
        </div>
        <div class="panel-body post-filters" uib-collapse="!postList.showFilters">
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Show favourited only:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <input type="checkbox" ng-model="postList.Posts.showFavouritedHostsOnly">
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Regions:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button"
                            class="btn btn-xs"
                            ng-class="postList.buttonEnabledClass(!postList.Posts.isRegionDisabled(region))"
                            bindonce
                            refresh-on="'postsUpdated'"
                            ng-repeat="region in postList.Posts.currentRegions"
                            ng-click="postList.Posts.toggleRegion(region)">
                        <span bo-text="region.toUpperCase()"></span>
                    </button>
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Team Types:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button"
                            class="btn btn-xs"
                            ng-class="postList.buttonEnabledClass(!postList.Posts.isTeamTypeDisabled(teamType))"
                            bindonce
                            refresh-on="'postsUpdated'"
                            ng-repeat="teamType in postList.Posts.currentTeamTypes"
                            ng-click="postList.Posts.toggleTeamType(teamType)">
                        <span bo-text="teamType"></span>
                    </button>
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Gamemodes:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button"
                            class="btn btn-xs"
                            ng-class="postList.buttonEnabledClass(!postList.Posts.isGamemodeDisabled(gamemode))"
                            bindonce
                            refresh-on="'postsUpdated'"
                            ng-repeat="gamemode in postList.Posts.currentGamemodes"
                            ng-click="postList.Posts.toggleGamemode(gamemode)">
                        <span bo-text="gamemode"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="show-filters-button btn btn-info" ng-click="postList.showFilters = !postList.showFilters">
        <i class="fa" ng-class="{'fa-arrow-up': postList.showFilters, 'fa-arrow-down': !postList.showFilters}"></i> Filter Posts - Showing <b ng-bind="postList.filteredPosts.length"></b> of <b ng-bind="postList.Posts.posts.length"></b>
    </button>
    <desktop-notification-enabler></desktop-notification-enabler>
    <uib-alert class="errored-subreddit" type="danger" bindonce bo-show="postList.Posts.errorSubs.length" refresh-on="'postsUpdated'">
        Failed to load matches from the chosen subreddit/s: <span class="errored-subreddit-list" bo-text="postList.Posts.errorSubs.join(', ')"></span> <a ui-sref="app.settings">Configure</a>
    </uib-alert>
    <uib-accordion close-others="false">
        <uib-accordion-group class="{{ postList.postClasses(post).join(' ') }}" ng-repeat="post in postList.filteredPosts=(postList.Posts.posts | filter:postList.filters.favourited | filter:postList.filters.teamType | filter:postList.filters.gamemode | filter:postList.filters.region | filter:postList.filters.search) track by post.id">
            <uib-accordion-heading>
                <post-details post="post"></post-details>
            </uib-accordion-heading>
            <div class="container text-left">
                <markdown class="md" ng-model="post.selftext"></markdown>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
