<div class="container text-xs-center settings-page">
    <desktop-notification-enabler show-hide-button="false"></desktop-notification-enabler>
    <div class="card-group">
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary">Timezone</h4>
            <div class="card-block">
                <small class="text-muted">Timezone for all times/dates on the website:</small>
                <select
                    class="form-control"
                    ng-model="settings.DateTime.timeZone"
                    ng-options="o as o group by settings.timeZoneGroup(o) for o in settings.DateTime.timeZones"
                ></select>
            </div>
        </div>
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary">Time Format</h4>
            <div class="card-block">
                <small class="text-muted">Time format to for the website:</small>
                <select
                    class="form-control"
                    ng-model="settings.DateTime.timeFormat"
                    ng-options="o as o for o in settings.DateTime.timeFormats"
                ></select>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary">Subreddits</h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Subreddits.subreddits"
                    button-prefix="/r/"
                    button-icon="reddit-alien"
                    placeholder="uhcmatches"
                    temp-value="settings.tempSubreddit"
                >
                    <no-items>
                        <uib-alert type="danger">
                            You do not have any subreddits set up, you will not see any posts
                        </uib-alert>
                    </no-items>
                    <required-error>Please enter a subreddit name (without /r/)</required-error>
                    <in-array-error>This subreddit is already in your list</in-array-error>
                </unique-items-editor>
            </div>
        </div>
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary">Notifications</h4>
            <div class="card-block">
                <small class="text-muted">When to send notifications before a game opens:</small>
                <div class="row text-xs-left" ng-repeat="time in settings.PostNotifications.notificationTimes track by $index">
                    <div class="col-xs-10">
                        <rzslider rz-slider-model="settings.PostNotifications.notificationTimes[$index]" rz-slider-options="settings.sliderOptions"></rzslider>
                    </div>
                    <div class="col-xs-2">
                        <button ng-click="settings.PostNotifications.removeNotificationTime($index)" type="button" class="btn btn-lg btn-primary">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" type="button" ng-click="settings.PostNotifications.addNewNotificationTime()">New notification</button>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-success-outline card-inverse">
            <h4 class="card-header card-success">Favourite Hosts</h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Hosts.favouriteHosts"
                    button-prefix="/u/"
                    button-icon="reddit-alien"
                    placeholder="dans1988"
                    temp-value="settings.tempFavouriteHost"
                >
                    <no-items>No hosts are currently favourited</no-items>
                    <required-error>Please enter a host's username (without /u/)</required-error>
                    <in-array-error>This username is already in your favourites</in-array-error>
                </unique-items-editor>
            </div>
        </div>
        <div class="card card-danger-outline card-inverse">
            <h4 class="card-header card-danger">Blocked Hosts</h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Hosts.blockedHosts"
                    button-prefix="/u/"
                    button-icon="reddit-alien"
                    placeholder="ghowden"
                    temp-value="settings.tempBlockedHost"
                >
                    <no-items>No hosts are currently blocked</no-items>
                    <required-error>Please enter a host's username (without /u/)</required-error>
                    <in-array-error>This username is already in your blocked list</in-array-error>
                </unique-items-editor>
            </div>
        </div>
    </div>
    <button class="btn btn-warning btn-block btn-lg" type="button" ng-click="settings.clearStorage()">Clear application data</button>
</div>
