<div class="container text-xs-center settings-page">
    <desktop-notification-enabler show-hide-button="false"></desktop-notification-enabler>
    <div class="card-group">
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary" translate="settings.timezone.header"></h4>
            <div class="card-block">
                <small class="text-muted" translate="settings.timezone.info"></small>
                <select
                    class="form-control"
                    ng-model="settings.DateTime.timeZone"
                    ng-options="o as o group by settings.timeZoneGroup(o) for o in settings.DateTime.timeZones"
                ></select>
                <div ng-show="settings.DateTime.timeZone !== settings.DateTime.guessedTimeZone">
                    <br />
                    <button
                        class="btn btn-block btn-info show-pointer"
                        ng-click="settings.DateTime.timeZone = settings.DateTime.guessedTimeZone"
                        translate="settings.timezone.detected"
                        translate-value-timezone="{{::settings.DateTime.guessedTimeZone}}"
                    >
                    </button>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary" translate="settings.timeFormat.header"></h4>
            <div class="card-block">
                <small class="text-muted" translate="settings.timeFormat.info"></small>
                <select
                    class="form-control"
                    ng-model="settings.DateTime.timeFormat"
                    ng-options="o as o for o in settings.DateTime.timeFormats"
                ></select>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-inverse card-primary-outline">
            <div class="card card-inverse card-primary-outline">
                <h4 class="card-header card-primary" translate="settings.language.header"></h4>
                <div class="card-block">
                    <div>
                        <small>
                            <span translate="settings.language.inUse"></span>
                            '<span class="text-success" ng-bind="settings.Translations.chosen"></span>'
                        </small>
                    </div>
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn"
                            ng-class="settings.Translations.chosen === lang ? 'btn-success' : 'btn-info'"
                            ng-repeat="lang in ::settings.Translations.keys"
                            ng-click="settings.Translations.chosen = lang"
                            ng-bind="::settings.Translations.friendly[lang]"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary" translate="settings.subreddits.header"></h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Subreddits.subreddits"
                    button-prefix="/r/"
                    button-icon="reddit-alien"
                    placeholder="uhcmatches"
                    temp-value="settings.tempSubreddit"
                >
                    <no-items>
                        <uib-alert type="danger">
                            <span translate="settings.subreddits.none"></span>
                        </uib-alert>
                    </no-items>
                    <required-error><span translate="settings.subreddits.required"></span></required-error>
                    <in-array-error><span translate="settings.subreddits.contained"></span></in-array-error>
                </unique-items-editor>
            </div>
        </div>
        <div class="card card-inverse card-primary-outline">
            <h4 class="card-header card-primary" translate="settings.notifications.header"></h4>
            <div class="card-block">
                <small class="text-muted" translate="settings.notifications.info"></small>
                <div class="row text-xs-left" ng-repeat="time in settings.PostNotifications.notificationTimes track by $index">
                    <div class="col-xs-10">
                        <rzslider rz-slider-model="settings.PostNotifications.notificationTimes[$index]" rz-slider-options="settings.sliderOptions"></rzslider>
                    </div>
                    <div class="col-xs-2">
                        <button ng-click="settings.PostNotifications.removeNotificationTime($index)" type="button" class="btn btn-lg btn-primary">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <br />
                <button
                    class="btn btn-primary btn-block"
                    type="button"
                    ng-click="settings.PostNotifications.addNewNotificationTime()"
                    translate="settings.notifications.add"
                ></button>
                <button
                    class="btn btn-block"
                    type="button"
                    ng-click="settings.PostNotifications.playSounds = !settings.PostNotifications.playSounds"
                    ng-class="settings.PostNotifications.playSounds ? 'btn-success' : 'btn-danger'"
                >
                    <span translate="{{ settings.PostNotifications.playSounds ? 'settings.notifications.sounds.play' : 'settings.notifications.sounds.silent' }}"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-success-outline card-inverse">
            <h4 class="card-header card-success" translate="settings.favourites.header"></h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Hosts.favouriteHosts"
                    button-prefix="/u/"
                    button-icon="reddit-alien"
                    placeholder="dans1988"
                    temp-value="settings.tempFavouriteHost"
                >
                    <no-items><span translate="settings.favourites.none"></span></no-items>
                    <required-error><span translate="settings.favourites.required"></span></required-error>
                    <in-array-error><span translate="settings.favourites.contained"></span></in-array-error>
                </unique-items-editor>
            </div>
        </div>
        <div class="card card-danger-outline card-inverse">
            <h4 class="card-header card-danger" translate="settings.blocked.header"></h4>
            <div class="card-block">
                <unique-items-editor
                    unique-items="settings.Hosts.blockedHosts"
                    button-prefix="/u/"
                    button-icon="reddit-alien"
                    placeholder="ghowden"
                    temp-value="settings.tempBlockedHost"
                >
                    <no-items><span translate="settings.blocked.none"></span></no-items>
                    <required-error><span translate="settings.blocked.required"></span></required-error>
                    <in-array-error><span translate="settings.blocked.contained"></span></in-array-error>
                </unique-items-editor>
            </div>
        </div>
    </div>
    <a ui-sref="app.settingimport">
        <button
            class="btn btn-info btn-block btn-lg"
            type="button"
            translate="settings.importexport"
        ></button>
    </a>
    <button
        class="btn btn-warning btn-block btn-lg"
        type="button"
        ng-click="settings.clearStorage()"
        translate="settings.clearData"
    ></button>
</div>
