<div class="container pt-1 post-page" bindonce="post" refresh-on="'postsUpdated'">
    <div bo-class="post.cardClass()">
        <div class="post-header card-header card-primary">
            <h2>
                <span ng-bind="::post.getTitle()"></span>
                <span ng-repeat="tag in ::post.post.tags" ng-bind="::'[' + tag + ']'"></span>
            </h2>
            <h6 local-time="::post.post.opens"></h6>
            <h6>
                <a ng-href="{{::'https://reddit.com/u/' + post.post.author}}" target="_blank">
                    <i class="fa fa-reddit-alien"></i> <span ng-bind="::post.post.author"></span>
                </a>
            </h6>
            <div class="floating-label">
                <div
                    class="tag tag-success"
                    ng-class="post.relativeTimeClass()"
                >
                    <i class="fa fa-clock-o"></i>
                    <span relative-time="::post.post.opens" relative-time-tick-refresh></span>
                </div>
                <div class="tag" ng-bind="::post.post.region" bo-class="post.regionClass()"></div>
                <div class="tag tag-success" ng-bind="::post.post.location"  bo-class="post.regionClass()"></div>
                <div ng-if="::post.post.removed" class="tag tag-danger" ng-attr-title="{{ post.post.removedReason }} - /u/{{ post.post.removedBy }}">
                    <i class="fa fa-warning"></i>
                    REMOVED
                </div>
            </div>
        </div>
        <div class="card-block post-page-content">
            <div class="floating-label gamemodes">
                <div class="tag tag-primary">
                    <i class="fa fa-cubes"></i>
                    <span ng-bind="::post.teamStyle()"></span>
                </div>
                <div class="tag tag-primary">
                    <span ng-bind="::post.post.version"></span>
                </div>
                <div class="tag tag-primary">
                    <span ng-bind="::post.post.slots"></span> Slots
                </div>
                <div
                    class="tag tag-primary"
                    ng-repeat="scenario in post.post.scenarios track by $index"
                    ng-bind="scenario">
                </div>
            </div>
            <div class="row mt-1" ng-if="::post.post.address">
                <div class="input-group col-lg-8 offset-lg-2 col-xs-12">
                    <span class="form-control text-center" id="game-address" ng-bind="::post.post.address"></span>
                    <span class="input-group-btn">
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            ngclipboard
                            data-clipboard-target="#game-address"
                            ngclipboard-success="post.showCopiedMessage()"
                            ngclipboard-error="post.showCtrlCMessage()"
                        >
                            <i class="fa fa-clipboard"></i>
                            <span translate="{{ post.copyMessage }}"></span>
                        </button>
                    </span>
                </div>
                <div ng-if="post.showCopyError" class="col-xs-12 text-danger" translate="post.copy.failed"></div>
            </div>
            <div class="row mt-1">
                <div class="input-group col-lg-8 offset-lg-2 col-xs-12">
                    <span class="form-control text-center" id="game-ip" ng-bind="::post.post.ip"></span>
                    <span class="input-group-btn">
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            ngclipboard
                            data-clipboard-target="#game-ip"
                            ngclipboard-success="post.showCopiedMessage()"
                            ngclipboard-error="post.showCtrlCMessage()"
                        >
                            <i class="fa fa-clipboard"></i>
                            <span translate="{{ post.copyMessage }}"></span>
                        </button>
                    </span>
                </div>
                <div ng-if="post.showCopyError" class="col-xs-12 text-danger" translate="post.copy.failed"></div>
            </div>
        </div>
        <div class="card-block">
            <h5>
                Length: <span ng-bind="::post.post.length"></span>mins | PVP: <span ng-bind="::post.post.pvpEnabledAt"></span>mins
            </h5>
            <h5>Map: <span ng-bind="::post.post.mapSize + ' x ' + post.post.mapSize"></span></h5>
            <div class="container">
                <markdown ng-model="post.post.content"></markdown>
            </div>
        </div>
    </div>
</div>
