<div class="container pt-1 post-page" bindonce="post" refresh-on="'postsUpdated'">
    <div class="card card-outline-primary card-inverse">
        <div class="post-header card-header card-primary">
            <h2 ng-bind="::post.post.title"></h2>
            <h6 local-time="::post.post.opens"></h6>
            <h6>
                <a ng-href="{{::'https://reddit.com/u/' + post.post.author}}" target="_blank">
                    <i class="fa fa-reddit-alien"></i> <span ng-bind="::post.post.author"></span>
                </a>
            </h6>
            <div class="floating-label">
                <div
                    class="tag tag-success"
                    ng-class="post.relativeTimeClass()"
                >
                    <i class="fa fa-clock-o"></i>
                    <span relative-time="::post.post.opens" relative-time-tick-refresh></span>
                </div>
                <div class="tag" ng-bind="::post.post.region" bo-class="post.regionClass()"></div>
            </div>
        </div>
        <div class="card-block post-page-content">
            <div class="floating-label gamemodes">
                <div class="tag tag-primary">
                    <i class="fa fa-cubes"></i>
                    <span ng-bind="::post.teamStyle()"></span>
                </div>
                <div
                    class="tag tag-primary"
                    ng-repeat="gamemode in post.post.gamemodes track by $index"
                    ng-bind="gamemode">
                </div>
            </div>
            <div class="row mt-1" ng-if="post.post.address">
                <div class="input-group col-lg-8 offset-lg-2 col-xs-12">
                    <span class="form-control text-center" id="game-address" ng-bind="::post.post.address"></span>
                    <span class="input-group-btn">
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            ngclipboard
                            data-clipboard-target="#game-address"
                            ngclipboard-success="post.showCopiedMessage()"
                            ngclipboard-error="post.showCtrlCMessage()"
                        >
                            <i class="fa fa-clipboard"></i>
                            <span translate="{{ post.copyMessage }}"></span>
                        </button>
                    </span>
                </div>
                <div ng-if="post.showCopyError" class="col-xs-12 text-danger" translate="post.copy.failed"></div>
            </div>
        </div>
        <h5 class="card-header card-info">
            <a ng-href="{{::'https://redd.it/' + post.post.id}}" target="_blank">
                <span translate="post.matchpost"></span>
                <i class="fa fa-external-link"></i>
            </a>
        </h5>
        <div class="card-block">
            <div class="container">
                <markdown ng-model="post.post.selftext"></markdown>
            </div>
        </div>
    </div>
</div>
