/**
 * GLOBALS
 */
@font-face {
    font-family: 'Pen';
    src: url('../fonts/pen.ttf');
}

body {
    text-align: center;
    background-image: url('./../images/linedpaper.png');
    font-family: 'Pen', cursive;
    font-weight: 500;
}

/**
 * HEADER STUFFS
 */
.site-header-image {
    min-height: 80px;
}

.subreddit-link {
    font-family: Georgia, "Times New Roman", Times, serif;
}

/**
 * NAV BAR/BUTTON LINKS
 */
.nav-button {
    font-variant: small-caps;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.site-nav {
    border-image: url(../images/outline.png) 5 5 5 5 repeat;
    -moz-border-image: url(../images/outline.png) 5 5 5 5 repeat;
    -webkit-border-image: url(../images/outline.png) 5 5 5 5 repeat;
    border-width: 3px 0 3px 0;

    /* fallback for <IE-11 */
    border-style: solid;
    border-color: #119933;
}

/* sm devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-button {
        border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -moz-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -webkit-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        border-width: 0 3px 0 0;

        /* fallback for <IE-11 */
        border-style: solid;
        border-color: #119933;
    }
    .nav-button:last-child {
        border-right: 0;
    }
}

@media (max-width: 767px) {
    .nav-button {
        border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -moz-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -webkit-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        border-width: 0 0 3px 0;

        /* fallback for <IE-11 */
        border-style: solid;
        border-color: #119933;
    }
    .nav-button:last-child {
        border-bottom: 0;
    }
}

/**
 * CLOCK/TIME INFO BAR
 */
.clock-bar {
    border-image: url(../images/outline.png) 5 5 5 5 repeat;
    -moz-border-image: url(../images/outline.png) 5 5 5 5 repeat;
    -webkit-border-image: url(../images/outline.png) 5 5 5 5 repeat;
    border-width: 0 0 5px 0;

    /* fallback for <IE-11 */
    border-style: solid;
    border-color: #119933;
}

.clock-bar-time {
    font-weight: 700;
    font-size: 32px;
    padding-top: 15px;
}

.clock-bar-timezone {
    font-style: italic;
    padding-bottom: 18px;
}

/* sm devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .clock-bar-center {
        border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -moz-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        -webkit-border-image: url(../images/outline.png) 5 5 5 5 repeat;
        border-width: 0 3px 0 3px;

        /* fallback for <IE-11 */
        border-style: solid;
        border-color: #119933;
    }
}