.match-post.ng-enter
    animation: zoomInLeft 1s

.match-post.ng-leave
    animation: zoomOutRight 1s

.favorite-host
    .panel-heading
        +watercolour-green()

.notifications
    color: #FF0000

.title-left
    @media (min-width: $screen-lg-min)
        float: left
        text-align: left

.post-title
    @media (min-width: $screen-lg-min)
        float: right
        text-align: right

    @media (max-width: $screen-md-max)
        margin-bottom: 5px

.search-panel
    margin-bottom: 0

.show-filters-button
    border-top: none
    border-top-right-radius: 0
    border-top-left-radius: 0
    margin-bottom: 10px

.filter-type
    margin-bottom: 5px

.post-filters
    +watercolour-black()

    button
        margin-right: 5px

    .filter
        margin-bottom: 10px

        .filter-title
            font-weight: bold

.refresh-button
    margin-top: 10px
    margin-bottom: 10px
