<div class="list-page">
    <div class="panel panel-default search-panel">
        <div class="panel-heading post-list-filter">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">Filter Posts</div>
                        <input ng-model="filtered.filter" class="form-control" type="search" placeholder="Search">
                        <div class="input-group-addon" ng-bind="filtered.posts.length + '/' + posts.posts.length"></div>
                    </div>
                    <div class="center-block text-left-lg">
                        <b>Regions:</b>
                        <span bindonce refresh-on="'postsUpdated'" ng-repeat="region in posts.currentRegions">
                            <label>
                                <small bo-text="region"></small>
                                <input type="checkbox" ng-model="posts.regions[region.toLowerCase()]">
                            </label>
                        </span>
                    </div>
                    <div class="center-block text-left-lg">
                        <b>Gamemodes:</b>
                        <span bindonce refresh-on="'postsUpdated'" ng-repeat="gamemode in posts.currentGamemodes">
                            <label>
                                <small bo-text="gamemode"></small>
                                <input type="checkbox" ng-model="posts.gamemodes[gamemode.toLowerCase()]">
                            </label>
                        </span>
                    </div>
                    <div class="center-block text-left-lg">
                        <b>Teams:</b>
                        <span bindonce refresh-on="'postsUpdated'" ng-repeat="teamType in posts.currentTeamTypes">
                            <label>
                                <small bo-text="teamType"></small>
                                <input type="checkbox" ng-model="posts.teamTypes[teamType.toLowerCase()]">
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 refresh-button text-center">
                    <b class="refresh-icon" ng-click="posts.update()">
                        <i class="fa fa-refresh" ng-class="{'fa-spin': posts.updating}"></i> Refresh
                        <small class="center-block">
                            Last Updated: <small class="last-updated" ng-bind="DateTime.format(DateTime.formats.HEADER, DateTime.moment.unix(posts.lastUpdated))"></small>
                        </small>
                    </b>
                </div>
                <div class="col-lg-2 col-xs-12 text-right">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="listhelp">Help</button>
                    <button type="button" class="btn btn-primary btn-block" ng-click="showChangelog()">Changelog</button>
                </div>
            </div>
        </div>
    </div>
    <div bindonce bo-switch="currentPermission()" refresh-on="'Notifications:PermissionsAsked'">
        <div bo-switch-when="default">
            <alert class="notify-permission" type="warning" ng-click="requestPermissions()">
                Click me to enable Desktop notifications <i class="has-tip fa fa-info-circle" tooltip="Enable to get notifications when games are starting soon"></i>
            </alert>
        </div>
        <div bo-switch-when="denied">
            <alert class="notify-permission" type="danger">
                Desktop alerts are blocked, no notifications can be made. <i class="has-tip fa fa-info-circle" tooltip="To renable notifications in Chrome click on the page icon to the left of the URL and change the value for 'Notifications'. Other browsers require google-fu"></i>
            </alert>
        </div>
        <div bo-switch-when="unsupported">
            <alert class="notify-permission" type="danger">
                Desktop alerts are not supported by your browser, no notifications will be made.
            </alert>
        </div>
    </div>
    <accordion close-others="false">
        <accordion-group bindonce="post" refresh-on="'postsUpdated'" class="match-post" ng-repeat="post in filtered.posts=(posts.posts | filter: filtered.filters.teamType | filter:filtered.filters.gamemode | filter:filtered.filters.region | filter:filtered.filters.search) track by post.id" ng-class="{'favorite-host': Hosts.favoriteHosts.indexOf(post.author) !== -1}">
            <accordion-heading>
                <post-details post="post"></post-details>
            </accordion-heading>
            <div class="container text-left">
                <markdown class="md" content="post.selftext"></markdown>
            </div>
        </accordion-group>
    </accordion>
</div>
