<div class="list-page">
    <div class="panel panel-default search-panel">
        <div class="panel-heading post-list-filter">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input ng-model="filtered.filters.search" class="form-control" type="search" placeholder="Search Filter">
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 refresh-button text-center">
                    <b class="refresh-icon" ng-click="posts.update()">
                        <i class="fa fa-refresh" ng-class="{'fa-spin': posts.updating}"></i> Refresh
                        <small class="center-block">
                            Last Updated: <small class="last-updated" ng-bind="DateTime.format(DateTime.formats.HEADER, DateTime.moment.unix(posts.lastUpdated))"></small>
                        </small>
                    </b>
                </div>
                <div class="col-lg-2 col-xs-12 text-right">
                    <button type="button" class="btn btn-success btn-block btn-xs" ui-sref="listhelp">Help</button>
                    <button type="button" class="btn btn-info btn-block btn-xs" ng-click="Changelog.showChangelog()">Changelog</button>
                </div>
            </div>
        </div>
        <div class="panel-body post-filters" collapse="!showFilters">
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Show favourited only:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <input type="checkbox" ng-model="posts.showFavouritedHostsOnly">
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Regions:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button" class="btn btn-xs" ng-class="buttonEnabledClass(!posts.isRegionDisabled(region))" bindonce refresh-on="'postsUpdated'" ng-repeat="region in posts.currentRegions" ng-click="posts.toggleRegion(region)"><span bo-text="region"></span></button>
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Team Types:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button" class="btn btn-xs" ng-class="buttonEnabledClass(!posts.isTeamTypeDisabled(teamType))" bindonce refresh-on="'postsUpdated'" ng-repeat="teamType in posts.currentTeamTypes" ng-click="posts.toggleTeamType(teamType)"><span bo-text="teamType"></span></button>
                </div>
            </div>
            <div class="row filter">
                <div class="col-lg-2 text-right-lg text-center filter-title">Gamemodes:</div>
                <div class="col-lg-10 text-left-lg text-center">
                    <button type="button" class="btn btn-xs" ng-class="buttonEnabledClass(!posts.isGamemodeDisabled(gamemode))" bindonce refresh-on="'postsUpdated'" ng-repeat="gamemode in posts.currentGamemodes" ng-click="posts.toggleGamemode(gamemode)"><span bo-text="gamemode"></span></button>
                </div>
            </div>
        </div>
    </div>
    <button class="show-filters-button btn btn-info" ng-click="showFilters = !showFilters">
        <i class="fa" ng-class="{'fa-arrow-up': showFilters, 'fa-arrow-down': !showFilters}"></i> Filter Posts - Showing <b ng-bind="filtered.posts.length"></b> of <b ng-bind="posts.posts.length"></b>
    </button>
    <desktop-notification-enabler></desktop-notification-enabler>
    <alert class="errored-subreddit" type="danger" bindonce bo-show="posts.errorSubs.length" refresh-on="'postsUpdated'">
        Failed to load matches from the chosen subreddit/s: <span class="errored-subreddit-list" bo-text="posts.errorSubs.join(', ')"></span>
    </alert>
    <accordion close-others="false">
        <accordion-group bindonce="post" refresh-on="'postsUpdated'" class="match-post" ng-repeat="post in filtered.posts=(posts.posts | filter:filtered.filters.favourited | filter:filtered.filters.teamType | filter:filtered.filters.gamemode | filter:filtered.filters.region | filter:filtered.filters.search) track by post.id" ng-class="{'favorite-host': Hosts.favoriteHosts.indexOf(post.author) !== -1}">
            <accordion-heading>
                <post-details post="post"></post-details>
            </accordion-heading>
            <div class="container text-left">
                <markdown class="md" content="post.selftext"></markdown>
            </div>
        </accordion-group>
    </accordion>
</div>
