<div
    class="row text-center"
    bindonce="details.post"
    refresh-on="'postsUpdated'"
    bo-attr
    bo-attr-id="'post-' + details.post.id"
>
    <div class="col-lg-2 col-xs-12 text-center text-right-lg">
        <span class="abs-game-starts">
            <i bo-show="details.post.isCommunityGame" class="fa fa-users" uib-tooltip="This is a community game"></i>
            <i bo-show="details.post.isStartTime" class="fa fa-warning" uib-tooltip="This is a start time, not a whitelist off time"></i>
            <b bo-text="details.openingTime()" uib-tooltip="Time Opens"></b>
            <i class="fa fa-calendar" ng-click="details.toggleNotification($event)" ng-class="{notifications: details.isNotifying()}"></i>
        </span>
        <span uib-tooltip="Opens" class="game-opens visible-lg-block visible-xs-inline visible-md-inline visible-sm-inline">
            <small bindonce="details.post" refresh-on="'clockTick'" bo-text="details.openingTimeRelative()"></small> <i class="fa fa-clock-o"></i>
        </span>
        <div class="divider visible-xs visible-md visible-sm hidden-lg"></div>
    </div>
    <div class="col-lg-6 text-left-lg text-center col-xs-12">
        <div class="post-title">
            <a
                target="_blank"
                ng-click="$event.stopPropagation()"
                bo-href="details.post.permalink"
                bo-text="details.post.title | characters:100: false">
            </a>
            <a
                class="anchor-link"
                uib-tooltip="Click to open open calendar to this post"
                ng-click="$event.stopPropagation()"
                bo-href="details.post.anchorlink"
                target="_blank"
            >
                <i class="fa fa-link"></i>
            </a>
            <div bo-show="details.showSubreddit()">
                <a bo-href="'https://reddit.com/r/' + details.post.subreddit"><small bo-text="details.post.subreddit"></small></a>
            </div>
        </div>
        <div class="title-left">
            <div class="post-teams" uib-tooltip="Team Style">
                <strong bo-text="details.teamStyle()"></strong>
            </div>
            <div class="gamemodes" uib-tooltip="Gamemodes" bo-text="details.post.gamemodes.join(' | ')"></div>
        </div>
        <div class="divider visible-xs visible-md visible-sm hidden-lg"></div>
    </div>
    <div class="col-lg-2 text-left-lg text-center col-xs-12 text-center text-right-lg">
        <small>
            <a
                class="post-author"
                target="_blank"
                ng-click="$event.stopPropagation()"
                bo-href="'http://reddit.com/u/' + details.post.author"
                bo-text="details.post.author"
            ></a>
        </small>
        <i class="fa fa-reddit" uib-tooltip="Toggle Favorite" tooltip-placement="right" ng-click="details.toggleFavourite($event)"></i>
        <span bo-show="details.post.address">
            <span class="server-address visible-xs-inline visible-md-inline visible-sm-inline visible-lg-block" uib-tooltip="Server address" ng-click="$event.preventDefault(); $event.stopPropagation()">
                <span clip-copy="details.post.address" clip-click="details.triggerCopiedMessage()">
                    <small bindonce refresh-on="'regionCopyChange'" bo-text="details.addressOverride || details.post.address"></small> <i class="fa fa-cubes"></i>
                </span>
            </span>
        </span>
        <div class="divider visible-xs visible-md visible-sm hidden-lg"></div>
    </div>
    <div class="col-lg-2 text-left-lg text-center col-xs-12">
        <span class="server-region" uib-tooltip="Server Region">
            <i class="fa fa-globe"></i> <small bo-text="details.post.region || 'Unknown'"></small>
        </span>
        <span uib-tooltip="Time posted" class="time-posted visible-lg-block visible-xs-inline visible-md-inline visible-sm-inline">
            <i class="fa fa-reply fa-rotate-180"></i> <small bo-text="details.timePostedInAdvance()"></small>
        </span>
    </div>
</div>
