<div class="container text-center generator-page">
    <accordion close-others="false">
        <accordion-group>
            <accordion-heading>
                Post Template
            </accordion-heading>
            <textarea class="generator-template" ng-model="templating.raw" ng-change="updateTemplate()"></textarea>
            <hr>
            <div class="container">
                <markdown class="md" content="templating.parsed"></markdown>
            </div>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Title
                </div>
                <div class="panel-body">
                    <span class="help-block">The title to show on the list</span>
                    <input class="form-control" type="text" ng-model="postTitle"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opens: </h3><span ng-bind="opens.utc().format('YYYY-MM-DD HH:mm UTC')"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time game will open (in your selected timezone)</p>
                    <date-time-picker picked-date="opens" time-zone="settings.timeZone" min-date="currentTime" meridian="settings.timeFormat == '12h'"></date-time-picker>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Starts: </h3><span ng-bind="starts.utc().format('YYYY-MM-DD HH:mm UTC')"></span>
                </div>
                <div class="panel-body">
                    <p class="help-block">Time game will start (in your selected timezone)</p>
                    <date-time-picker picked-date="starts" time-zone="settings.timeZone" min-date="currentTime" meridian="settings.timeFormat == '12h'"></date-time-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Region
                </div>
                <div class="panel-body">
                    <span class="help-block">The server region</span>
                    <select class="form-control" ng-model="region" ng-options="o as k for (o,k) in regions"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Server Address
                </div>
                <div class="panel-body">
                    <span class="help-block">The server address/IP to connect to</span>
                    <input class="form-control" type="text" ng-model="address"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="sendToReddit()">Send to Reddit</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="openLinkModal()">Post Link</button>
        </div>
    </div>
</div>
